*, html {
  box-sizing: border-box;
  margin: 0;
  color: #000;
}

nav {
  top: 0;
  position: fixed;
  background-color: #046532;
  width: 100%;
}
.navigationpane{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
}
.logosection{
  /* border:2px solid #000; */
  text-align: center;
  padding: 5px;
}
.title{
  text-transform: uppercase;
  font-family: cursive;
}
.toggle-btn {
  
   text-align: center;
   padding-top: 30px;
}
/* ============================sidebar=================== */
.sidebar {
  position: fixed;
  color: #000;
  font-weight: 1000;
  top: 78px;
  left: 0;
  transform: translate(0);
  height: 100vh;
  background-color:#046532;
  width: 20%;
  text-align: center;
  padding-top: 50px;
  /* padding: 20px; */
}

.links {
  /* padding: 150px; */
  list-style: none;
  line-height: 80px;
}
.social-links{
  margin-top: 50px;
  border-top: 2px solid #fff;
  padding: 10px;
}

a {
  text-decoration: none;
  color:rgb(0,0,255)
}

a:hover {
  color: red;
  /* padding: 10px; */
  transition: all;
}

.show-sidebar {
  transform: translate(-100%);
}
/* ==============================main section================================ */
main {
  background-image: url(/images/image\ 8.png);
  background-size: cover;
  background-color: #fff;
 /* border: solid 1px #05E06D; */
  margin-top: 80px;
}
.labeler{
  margin-left: 40px;

}
.labeler::after{
  content: "*";
  color:rgb(255,0,0);

}

.our-products {
  background-color: #fff;
  display: grid;
  width: 100%;
  padding: 4px;
  grid-template-columns: repeat(2, 1fr);
}

.products {
  background-color: #d9d9d9;
  border-radius: 10px;
   margin: 3px;
}
.price {
  border: #05E06D solid 1px;
  text-align: center;
}

#amount {
  font-weight: 1000;
}

.fa-plus {
  border-radius: 5px;
}

.mission, .vision, .why-choose-us, .cover-letter,.slogan {
  width: 100%;
  background-color: #d9d9d9;
  color: #000;
  border-radius: 10px;
  margin: 20px auto;
  padding: 30px;
  text-align: center;
}  

.mission:hover , .vision:hover,.slogan:hover {
  box-shadow: 5px 5px #05E06D;
}  

.title {
  font-weight: 800;
  margin: auto;
}  

.choose-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}  

.option {
  background-color: #05E06D;
  border-radius: 10px;
  margin: 5px;
  padding: 15px;
}  

.option:hover {
  box-shadow: 5px 5px #000;
}  
.logins {
  background-color: #fff;
}  

.logo-side {
  margin-top: 15px;
  text-align: center;
  margin-bottom: 40px;
}  

.in-title {
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-family: cursive;
  /* text-transform: uppercase; */
}  
input {
  width: 95%;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
}  

.email-section {
  margin-top: 20px;
  margin-bottom: 20px;
}  

.password-section {
  margin-top: 20px;
  margin-bottom: 20px;
}  
/*======================= signup customizations=============================== */
.signups {
  background-image: url(/images/image\ 8.png);
  background-size: cover;
  height: 80vh;
}


.title {
  margin: auto;
  text-align: center;
}

.signup-btn, .login-btn {
  margin: auto auto;
  width: 40%;
  /* border: #000 2px solid; */
  
}

#signup-btn {
  background-color: #046532;
  margin: auto auto;
  text-transform:uppercase ;
  width: 50%;
  height: 30px;
  font-size: larger;
  border-radius: 10px;
  color: #fff;
}

.login-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

#login-btn {
  height: 30px;
  background-color: #046532;
  width: 50%;
  font-size: larger;
  text-transform: uppercase;
  color: #fff;
  border-radius: 10px;
} 


.signup-section ,.login-option {
  /* border: #000 2px solid; */
  margin: 20px 20px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
/* ===============================================================checkout customizations =================================*/

.checkout {
  background-color: #d9d9d9;
  height: 78vh;
}

.picked-items {
  text-align: center;
}

table, th, td {
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;
}

.totals {
  text-align: center;
  margin-top: 10px;
}
.copyright{
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */